body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
    font-size: 2em;
    color: rgb(23, 38, 52);
	grid-area: header;
	padding:10px;
    background-color: #0e7889;
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: #8dd9e3;
}
.content {
	grid-area: content;
}